@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");


html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  
:root{

     --ColorFondo: rgb(57, 0,153);
     --ColorLogin:rgb(255,0,84);
   --ColorFuente:rgb(255,255,255);
   --ColorBoton:rgb(32,33,87);
   --fuente:Poppins;


}



body{

    background-color: var(--ColorFondo);
    color: var(--ColorFuente);
    font-family: var(--fuente);
  
}


.contenedor{
  
   
    width: 100%;
   height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
   align-items: center;

   
   
  
    

}




.titulo{
   margin-top: 0;
    text-align: center;
    line-height: 45px;
    font-size: 30px;
    font-weight: 600;
    
     margin-bottom: 30px;
     width:70%;
  }


  .contenedor__login{
      display: flex;
      flex-direction: column;
      width: 100%;
  }
.contenedor__form {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    
}


.contenedor__form label{
  
    width: 75%;
    max-width: 600px;
    margin: 15px 0px;
}

.contenedor__form input{
    
   width: 75%;
   max-width: 600px;
   padding:10px 20px;
   
   border: none;
   border-radius: 25px;
  
   
}




 .button{

    margin-top: 20px;
    background-color: var(--ColorBoton);
    color: var(--ColorFuente);
    padding: 10px 20px;
  
   
 }

